{%extends 'base.html'%}
{% block pagetitle %}Accounting Chart {% endblock %}
{% block home %} {% url 'customer_list' %} {% endblock %}
{% block title %}Accounting Chart {% endblock %}
{% block content %}
<style>
  .card {
    margin: 10px;
    padding: 0;
    border: 2px solid rgb(3, 132, 3);
    box-shadow: 6px 6px 6px rgb(171, 235, 171);

  }

  .card:hover {
    border: 2px solid rgb(38, 73, 200);
    box-shadow: 10px 10px 10px rgb(164, 155, 155);
  }

  ul {
    line-height: 250%;

  }

  .ledger-ul {
    font-size: 120%;
  }

</style>

{% include 'components/title_bar.html' with title=' Chart of Acounts ' %}


<div class="row">
  <div class="card col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="card-body" id="droppable-Asset" ondragover="dragover_handler(event)" ondrop="drop_handler(event, this)">
      <div class="text-center">
        <h3>Asset</h3>
        <a href="{% url 'accountchart_create' %}?accountType=Asset"><button
            class="btn btn-success btn-sm">Create</button></a>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">Details</button>
      </div>
      <hr>
      <ul class="ledger-ul">
        {% for asset in assets %}
        <div draggable="true" id="{{asset.pk}}" ondragstart="drag(event)">
          <li class="fw-bolder">{{asset}} <a href="{% url 'accountsubledger_create' %}?ledgerType={{asset}}" class="bi bi-plus fa-lg"></a>
          </li>
          <ul>
            {% for subledger in asset.accountsubledger_set.all %}
            <li>{{subledger}}</li>
            {% endfor %}
          </ul>
        </div>

        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="card col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="card-body" id="droppable-Liability" ondragover="dragover_handler(event)"
      ondrop="drop_handler(event, this)">
      <div class="text-center">
        <h3>Liability</h3>
        <a href="{% url 'accountchart_create' %}?accountType=Liability"><button
            class="btn btn-success btn-sm">Create</button></a>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">Details</button>
      </div>
      <hr>
      <ul class="ledger-ul">
        {% for liability in liabilities %}
        <div draggable="true" id="{{liability.pk}}" ondragstart="drag(event)">
          <li class="fw-bolder">{{liability}} <a href="{% url 'accountsubledger_create' %}?ledgerType={{liability}}"
              class="bi bi-plus fa-lg"></a> </li>
          <ul>
            {% for subledger in liability.accountsubledger_set.all %}
            <li>{{subledger}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="card col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="card-body" id="droppable-Equity" ondragover="dragover_handler(event)"
      ondrop="drop_handler(event, this)">
      <div class="text-center">
        <h3>Equity</h3>
        <a href="{% url 'accountchart_create' %}?accountType=Equity"><button
            class="btn btn-success btn-sm">Create</button></a>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">Details</button>
      </div>
      <hr>
      <ul class="ledger-ul">
        {% for equity in equities %}
        <div draggable="true" id="{{equity.pk}}" ondragstart="drag(event)">
          <li class="fw-bolder">{{equity}} <a href="{% url 'accountsubledger_create' %}?ledgerType={{equity}}"
              class="bi bi-plus fa-lg"></a>
          </li>
          <ul>
            {% for subledger in equity.accountsubledger_set.all %}
            <li>{{subledger}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="card col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="card-body" id="droppable-Revenue" ondragover="dragover_handler(event)"
      ondrop="drop_handler(event, this)">
      <div class="text-center">
        <h3>Revenue</h3>
        <a href="{% url 'accountchart_create' %}?accountType=Revenue"><button
            class="btn btn-success btn-sm">Create</button></a>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">Details</button>
      </div>
      <hr>
      <ul class="ledger-ul">
        {% for revenue in revenues %}
        <div draggable="true" id="{{revenue.pk}}" ondragstart="drag(event)">
          <li class="fw-bolder">{{revenue}} <a href="{% url 'accountsubledger_create' %}?ledgerType={{revenue}}"
              class="bi bi-plus fa-lg"></a>
          </li>
          <ul>
            {% for subledger in revenue.accountsubledger_set.all %}
            <li>{{subledger}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class="card col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="card-body" id="droppable-Expense" ondragover="dragover_handler(event)"
      ondrop="drop_handler(event, this)">
      <div class="text-center">
        <h3>Expense</h3>
        <a href="{% url 'accountchart_create' %}?accountType=Expense"><button
            class="btn btn-success btn-sm">Create</button></a>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">Details</button>
      </div>
      <hr>

      <ul class="ledger-ul">
        {% for expense in expenses %}
        <div draggable="true" id="{{expense.pk}}" ondragstart="drag(event)">
          <li class="fw-bolder">{{expense}} <a href="{% url 'accountsubledger_create' %}?ledgerType={{expense}}"
              class="bi bi-plus fa-lg"></a>
          </li>
          <ul>
            {% for subledger in expense.accountsubledger_set.all %}
            <li>{{subledger}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div class="card col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="card-body" id="droppable-Other" ondragover="dragover_handler(event)" ondrop="drop_handler(event, this)">
      <div class="text-center">
        <h3>Other</h3>
        <a href="{% url 'accountchart_create' %}?accountType=Other"><button
            class="btn btn-success btn-sm">Create</button></a>
        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal">Details</button>
      </div>
      <hr>
      <ul class="ledger-ul">
        {% for other in others %}
        <div draggable="true" id="{{other.pk}}" ondragstart="drag(event)">
          <li class="fw-bolder">{{other}} <a href="{% url 'accountsubledger_create' %}?ledgerType={{other}}" class="bi bi-plus fa-lg"></a>
          </li>
          <ul>
            {% for subledger in other.accountsubledger_set.all %}
            <li>{{subledger}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<script>

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function dragover_handler(ev) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect = "move";
  }

  function drop_handler(ev, el) {
    ev.preventDefault();
    const data = ev.dataTransfer.getData("text/plain");
    let uls = el.getElementsByTagName('ul')
    let ul = uls[0]
    ul.appendChild(document.getElementById(data));
    const accountType = el.id.split('-')[1]

    $.ajaxSetup({
      headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    $.ajax({
      url: `/api/update-account-type/${data}/?accountType=${accountType}`,
      type: 'PUT',
      success: function (result) {
        Swal.fire('Account Head Updated!!')
      }
    });
  }

</script>

{% endblock %}