{%extends 'base.html'%}
{% block pagetitle %}Accounting Chart {% endblock %}
{% block home %} {% url 'customer_list' %} {% endblock %}
{% block title %}Accounting Chart {% endblock %}
{% block content %}
<style>
  .card {
    margin: 10px;
    padding: 0;
    border: 2px solid rgb(3, 132, 3);
    box-shadow: 6px 6px 6px rgb(171, 235, 171);

  }

  .card:hover {
    border: 2px solid rgb(38, 73, 200);
    box-shadow: 10px 10px 10px rgb(164, 155, 155);
  }

  ul {
    line-height: 250%;

  }

  .ledger-ul {
    font-size: 120%;
  }
</style>

{% include 'components/title_bar.html' with title=' Chart of Acounts ' %}

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body" id="droppable-Asset" ondragover="dragover_handler(event)"
        ondrop="drop_handler(event, this)">
        <div class="text-center">
          <h3>Asset</h3>
          <a href="{% url 'accountchart_create' %}?accountType=Asset"><button
              class="btn btn-success btn-sm">Create</button></a>
          <button type="button" class="btn btn-info btn-sm" onclick="showDetails('droppable-Asset')">Details</button>
        </div>
        <hr>
        <ul class="ledger-ul">
          {% for asset in assets %}
          <div draggable="true" id="{{asset.pk}}" ondragstart="drag(event)">
            <li class="fw-bolder" ondblclick="handleDblClick(this)" onblur="groupUpdate(this)" id={{asset.pk}} data-is-editable="{{asset.is_editable}}">
              {{asset}} <a href="{% url 'accountledger_create' %}?ledgerType={{asset}}" class="bi bi-plus fa-lg"></a>
            </li>
            <ul>
              {% for ledger in asset.accountledger_set.all %}
              <li ondblclick="handleDblClick(this)" onblur="ledgerUpdate(this)" id={{ledger.pk}} data-is-editable="{{ledger.is_editable}}"
                title="{{ledger.total_value}}">
                {{ledger}}</li>
                <small class="fw-bolder d-none"><u>{{ledger.total_value}}</u></small>
              {% endfor %}
            </ul>
          </div>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 d-flex">
    <div class="card w-100">
      <div class="card-body" id="droppable-Liability" ondragover="dragover_handler(event)"
        ondrop="drop_handler(event, this)">
        <div class="text-center">
          <h3>Liability</h3>
          <a href="{% url 'accountchart_create' %}?accountType=Liability"><button
              class="btn btn-success btn-sm">Create</button></a>
          <button class="btn btn-info btn-sm"  onclick="showDetails('droppable-Liability')">Details</button>
        </div>
        <hr>
        <ul class="ledger-ul">
          {% for liability in liabilities %}
          <div draggable="true" id="{{liability.pk}}" ondragstart="drag(event)">
            <li class="fw-bolder" ondblclick="handleDblClick(this)" onblur="groupUpdate(this)" id={{liability.pk}} data-is-editable="{{liability.is_editable}}">
              {{liability}} <a href="{% url 'accountledger_create' %}?ledgerType={{liability}}"
                class="bi bi-plus fa-lg"></a> </li>
            <ul>
              {% for ledger in liability.accountledger_set.all %}
              <li ondblclick="handleDblClick(this)" onblur="ledgerUpdate(this)" id={{ledger.pk}} data-is-editable="{{ledger.is_editable}}"
                title="{{ledger.total_value}}">{{ledger}}</li>
                <small class="fw-bolder d-none"><u>{{ledger.total_value}}</u></small>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 d-flex">
    <div class="card w-100">
      <div class="card-body" id="droppable-Equity" ondragover="dragover_handler(event)"
        ondrop="drop_handler(event, this)">
        <div class="text-center">
          <h3>Equity</h3>
          <a href="{% url 'accountchart_create' %}?accountType=Equity"><button
              class="btn btn-success btn-sm">Create</button></a>
          <button class="btn btn-info btn-sm" onclick="showDetails('droppable-Equity')">Details</button>
        </div>
        <hr>
        <ul class="ledger-ul">
          {% for equity in equities %}
          <div draggable="true" id="{{equity.pk}}" ondragstart="drag(event)">
            <li class="fw-bolder" ondblclick="handleDblClick(this)" onblur="groupUpdate(this)" id={{equity.pk}} data-is-editable="{{equity.is_editable}}">
              {{equity}}
              <a href="{% url 'accountledger_create' %}?ledgerType={{equity}}" class="bi bi-plus fa-lg"></a>
            </li>
            <ul>
              {% for ledger in equity.accountledger_set.all %}
              <li ondblclick="handleDblClick(this)" onblur="ledgerUpdate(this)" id={{ledger.pk}} data-is-editable="{{ledger.is_editable}}"
                title="{{ledger.total_value}}">{{ledger}}</li>
                <small class="fw-bolder d-none"><u>{{ledger.total_value}}</u></small>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 d-flex">
    <div class="card w-100">
      <div class="card-body" id="droppable-Revenue" ondragover="dragover_handler(event)"
        ondrop="drop_handler(event, this)">
        <div class="text-center">
          <h3>Revenue</h3>
          <a href="{% url 'accountchart_create' %}?accountType=Revenue"><button
              class="btn btn-success btn-sm">Create</button></a>
          <button class="btn btn-info btn-sm"  onclick="showDetails('droppable-Revenue')">Details</button>
        </div>
        <hr>
        <ul class="ledger-ul">
          {% for revenue in revenues %}
          <div draggable="true" id="{{revenue.pk}}" ondragstart="drag(event)">
            <li class="fw-bolder" ondblclick="handleDblClick(this)" onblur="groupUpdate(this)" id={{revenue.pk}} data-is-editable="{{revenue.is_editable}}">
              {{revenue}} <a href="{% url 'accountledger_create' %}?ledgerType={{revenue}}"
                class="bi bi-plus fa-lg"></a>
            </li>
            <ul>
              {% for ledger in revenue.accountledger_set.all %}
              <li ondblclick="handleDblClick(this)" onblur="ledgerUpdate(this)" id={{ledger.pk}} data-is-editable="{{ledger.is_editable}}"
                title="{{ledger.total_value}}">{{ledger}}</li>
                <small class="fw-bolder d-none"><u>{{ledger.total_value}}</u></small>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 d-flex">
    <div class="card w-100">
      <div class="card-body" id="droppable-Expense" ondragover="dragover_handler(event)"
        ondrop="drop_handler(event, this)">
        <div class="text-center">
          <h3>Expense</h3>
          <a href="{% url 'accountchart_create' %}?accountType=Expense"><button
              class="btn btn-success btn-sm">Create</button></a>
          <button class="btn btn-info btn-sm" onclick="showDetails('droppable-Expense')">Details</button>
        </div>
        <hr>

        <ul class="ledger-ul">
          {% for expense in expenses %}
          <div draggable="true" id="{{expense.pk}}" ondragstart="drag(event)">
            <li class="fw-bolder" ondblclick="handleDblClick(this)" onblur="groupUpdate(this)" id={{expense.pk}} data-is-editable="{{expense.is_editable}}">
              {{expense}} <a href="{% url 'accountledger_create' %}?ledgerType={{expense}}"
                class="bi bi-plus fa-lg"></a>
            </li>
            <ul>
              {% for ledger in expense.accountledger_set.all %}
              <li ondblclick="handleDblClick(this)" onblur="ledgerUpdate(this)" id={{ledger.pk}} data-is-editable="{{ledger.is_editable}}"
                title="{{ledger.total_value}}">{{ledger}}</li>
                <small class="fw-bolder d-none"><u>{{ledger.total_value}}</u></small>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 d-flex">
    <div class="card w-100">
      <div class="card-body" id="droppable-Other" ondragover="dragover_handler(event)"
        ondrop="drop_handler(event, this)">
        <div class="text-center">
          <h3>Other</h3>
          <a href="{% url 'accountchart_create' %}?accountType=Other"><button
              class="btn btn-success btn-sm">Create</button></a>
          <button class="btn btn-info btn-sm" onclick="showDetails('droppable-Other')">Details</button>
        </div>
        <hr>
        <ul class="ledger-ul">
          {% for other in others %}
          <div draggable="true" id="{{other.pk}}" ondragstart="drag(event)">
            <li class="fw-bolder" ondblclick="handleDblClick(this)" onblur="groupUpdate(this)" id={{other.pk}} data-is-editable="{{other.is_editable}}">
              {{other}}
              <a href="{% url 'accountledger_create' %}?ledgerType={{other}}" class="bi bi-plus fa-lg"></a>
            </li>
            <ul>
              {% for ledger in other.accountledger_set.all %}
              <li ondblclick="handleDblClick(this)" onblur="ledgerUpdate(this)" id={{ledger.pk}} data-is-editable="{{ledger.is_editable}}"
                title="{{ledger.total_value}}">{{ledger}}</li>
                <small class="fw-bolder d-none"><u>{{ledger.total_value}}</u></small>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


  <script>

    function showDetails(cardId) {
      let card = document.getElementById(cardId)
      let items = card.getElementsByTagName('small')
      for(let item of items){
        if(item.classList.contains('d-none')){
          item.classList.remove('d-none')
          item.classList.add('d-block')
        }else{
          item.classList.remove('d-block')
          item.classList.add('d-none')
        }
      }
    }


    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function dragover_handler(ev) {
      ev.preventDefault();
      ev.dataTransfer.dropEffect = "move";
    }

    function drop_handler(ev, el) {
      ev.preventDefault();
      console.log(ev)
      const data = ev.dataTransfer.getData("text/plain");
      let uls = el.getElementsByTagName('ul')
      let ul = uls[0]
      ul.appendChild(document.getElementById(data));
      const accountType = el.id.split('-')[1]

      $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });

      $.ajax({
        url: `/api/update-account-type/${data}/?accountType=${accountType}`,
        type: 'PUT',
        success: function (result) {
          Swal.fire('Updated!!')
        }
      });
      location.reload()
    }


    function handleDblClick(e) {
      console.log(e)
      if(e.getAttribute('data-is-editable') === "True"){
        e.setAttribute('contenteditable', true)
      }else{
        Swal.fire({
          title:"You cannot edit this Ledger"
        })
      }

    }

    function groupUpdate(e) {
      e.setAttribute('contenteditable', false)
      const value = e.innerText
      const id = parseInt(e.id)

      Swal.fire({
        title: 'Are you sure?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Update',
        denyButtonText: `Don't save`,
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
          });

          $.ajax({
            url: `/api/update-account-group/${id}/`,
            type: 'PUT',
            data: {
              content: value.trim()
            },
            success: function (result) {
              Swal.fire('Updated', '', 'success')
            }
          });
        }
      })


    }


    function ledgerUpdate(e) {
      e.setAttribute('contenteditable', false)
      const id = parseInt(e.id)
      const value = e.innerText

      Swal.fire({
        title: 'Do you want to save the changes?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Update',
        denyButtonText: `Don't save`,
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
          });

          $.ajax({
            url: `/api/update-account-ledger/${id}/`,
            type: 'PUT',
            data: {
              content: value.trim()
            },
            success: function (result) {
              Swal.fire(
                'Updated',
                '',
                'success'
              )
            }
          });
        }
      })

    }



  </script>

  {% endblock %}