{%extends 'base.html'%}
{% block pagetitle %} P&L Statement {% endblock %}
{% block home %} {% url 'trial_balance_view' %} {% endblock %}
{% block title %} P&L statement {% endblock %}
{% block content %}
{% include 'components/title_bar.html' with title=' P&L Statement'  %}
<div class="card">

    <div class="card-body pt-0">
        <div class="card-header p-4">
            <center class="m-auto">
                    <h2>Barc</h2> <br>
                    <h2>Balance Sheet</h2> <br>
                    <p>Date: ________________</p>
            </center>
        </div>
        <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                    id="kt_customers_table">
                    <thead>
                        <th class="col-5">Liabilities & Capital</th>
                        <th>Amount</th>
                        <th class="col-5">Assets</th>
                        <th>Amount</th>
                    </thead>
                    <tbody class="fw-bold text-gray-600">
                        <tr>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            {%if object_list%}
            {% include 'pagination.html' %}
            {%endif%}
        </div>
    </div>
</div>

<script>
</script>

{% endblock %}