{%extends 'base.html'%}
{% load humanize %}
{% block pagetitle %}Trial Balance {% endblock %}
{% block home %} {% url 'trial_balance_view' %} {% endblock %}
{% block title %}Trial Balance {% endblock %}
{% block content %}
{% include 'components/title_bar.html' with title=' Trial Balance '  %}
<style>
    td{
        letter-spacing: 1px;
    }
</style>
<div class="card">
    {% include 'components/search_filter.html' %}
    <div class="card-header p-4 m-auto">
        <center>
                <h2>Trial Balance</h2> <br>
                {% if from_date and to_date %}
                    <p class="fw-bolder">Date: {{from_date}} &nbsp; - &nbsp; {{to_date}}</p>
                {% endif %}
        </center>
    </div>
    <div class="card-body pt-0">
        <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                    id="kt_customers_table">


                    <thead class="fw-bolder">
                        <th>S.N</th>
                        <th>Account</th>
                        <th>Account Head</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </thead>
                    <tbody class="fw-bold text-gray-600">
                        {% for data in trial_balance %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{data.ledger}}</td>
                            <td>{{data.account_head}}</td>
                            <td>{{data.debit|intcomma}}</td>
                            <td>{{data.credit|intcomma}}</td>
                        </tr>
                        {% endfor %}
                        <hr>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td></td>
                            <td><p class="fw-bolder text-primary">{{total.debit_total|intcomma}}</p> </td>
                            <td><p class="fw-bolder text-primary">{{total.credit_total|intcomma}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {%if object_list%}
            {% include 'pagination.html' %}
            {%endif%}
        </div>
    </div>
</div>

<script>
</script>

{% endblock %}